<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>暂存到渡口</string>
	<key>CFBundleExecutable</key>
	<string>DukouShare</string>
	<key>CFBundleIdentifier</key>
	<string>dev.dukou.Dukou.Share</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DukouShare</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.6</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>DKAppGroupIdentifier</key>
	<string>H2P566W3PA.dev.dukou.shared</string>
	<key>DKShareAction</key>
	<string>shelf</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationDictionaryVersion</key>
				<integer>2</integer>
				<key>NSExtensionActivationSupportsFileWithMaxCount</key>
				<integer>32</integer>
			</dict>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>DKShareViewController</string>
	</dict>
</dict>
</plist>
